name: Go CI/CD on Render

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.22"
        check-latest: true
        cache: true

    - name: Install dependencies
      run: go clean --modcache && go mod download

    - name: Run tests
      run: go test ./... -v

    - name: Build App
      run: go build -o ums-backend main.go

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Trigger Render Deploy
      run: |
        curl -X POST \
        -H "Authorization: Bearer srv-d4jfdskhg0os73bos68" \
        -H "Content-Type: application/json" \
        -d "{\"serviceId\": \"srv-d4jfdskhg0os73bos68\"}" \
        https://api.render.com/v1/services/rnd_JDoUEzvGteE4h1KJLPjQYEdj83qP/deploys
