name: Go CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.25

    - name: Install dependencies
      run: go mod download

    - name: Run tests
      run: go test ./... -v

    - name: Build application
      run: go build -o ums-backend main.go

    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      with:
        name: ums-backend
        path: ums-backend
